/*Template CSS*/
body{
  min-height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
}
html{
  scroll-behavior: smooth;
}
.middle-nav{
    position: relative;
    z-index: 9;
    width: 100%;
    background: #ffffff;
    padding: 40px 0 0;
    box-sizing: border-box;
}
.container{
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.rd-logo{
    display: block;
    color: #000000;
    text-align: center;
    letter-spacing: .04em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}
.portfolio-logo{
    vertical-align: top;
    margin-left:60px;
}
/* Nav CSS */
nav {
  background: #fff;
  padding: 0 15px;
}
.portfolio-link{
  color: #b9b9b9;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.toggle-link{
  color:#333333;
}

a {
  color: #fff;
  text-decoration: none;
}
.menu{
  list-style-type: none;
}
#item {
    display: block;
    padding: 5px 15px;
    color: #b9b9b9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
#item.button {
  padding: 9px 5px;
}
#item:not(.button) a:hover,
#item a:hover::after {
  color: #333333;
  text-decoration: none;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  margin-right:68px;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
#item.button {
  order: 2;
}
#item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active #item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  #item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #b9b9b9;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: #b9b9b9;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  #item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .toggle {
    display: none;
  }
} 
footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    flex-shrink:0;
    margin-top:85px;
}
.index-footer{
  margin-top:300px;
}
.contact-footer{
  margin-top:380px;
}
footer hr{
    border-top-color:#bbb;
    opacity:0.5;
}
footer hr.small{
    margin:20px 0;
}
footer h5{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
}
footer a{
    color:#737373;
}
footer a:hover{
    color:#ffffff;
}
.footer-link:hover,active,visited{
    text-decoration: none;
}
.footer-links{
    padding-left:0;
    list-style:none;
}
.footer-links li{
    display:block;
}
.footer-links.inline li{
    display:inline-block;
}
footer .social-icons{
    text-align:right;
}
footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text{
  margin:0;
}
footer .social-icons{
  text-align:center;
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}
.social-icons .email:hover{
    background-color: #ff4040;
}
.social-icons .github-link:hover{
    background-color:#350480;
}
.social-icons .linkedin-link:hover{
    background-color:#007bb6;
  }
.social-icons .facebook-link:hover{
  background-color:#3b5998;
}
.footer-p{
  text-justify:start;
}

/*Home Page CSS*/
.body-home .portfolio-link-home{
  color:#333333;
  font-weight:bold;
}
.content-ctnr{
  display:flex;
  margin:auto;
  margin-top:75px;
  justify-content: center;
  flex-direction: row;
}
.content-ctnr-col{
  display:flex;
  margin:auto;
  flex-wrap: wrap;
  flex-direction: column;
}
.home-div{

}
#avatar{

}
#intro{
  margin-left:100px;
  width:50%;
}
.avatar-pic{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 25%;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  margin-left:40px;
}
.home-h1{
  font-family: 'Raleway', sans-serif;
  font-size:60px;
  background: -webkit-linear-gradient(#d2ccc4, #2f4353);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-h3{
  font-family: 'Raleway', sans-serif;
  font-size:28px;
  color:#2f4353;
}
.intro-p{
  font-family: 'Mukta', sans-serif;
  font-size:18px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top:60px;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #50C878;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #EABFDA;
    text-decoration: none;
    color:#fff;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #EABFDA;
    }
    100% {
        fill: white;
    }
}
/* About Page CSS */
.body-about .portfolio-link-about{
  color:#333333;
  font-weight:bold;
}
.content-ctnr-about{
  display:flex;
  margin:auto;
  margin-top:75px;
  flex-direction: row;
  justify-content: center;
}
.about-h{
  font-size:80px;
  font-family:'Tinos', serif;
}
.about-h2{
  font-size:40px;
  font-weight:lighter;
}
.about-p{
  font-family:'Raleway', sans-serif;
}
.about-me-img{
  margin-top:40px;
  margin-left:12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  transition-duration: 0.05s;
}
.personal-pic{
  padding-left:10px;
  border: 1px solid lightgray; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
}
.personal-pic:hover{
  box-shadow: 0 0 2px 2.5px #ddd;
}
.content-ctnr-offset{
  display:flex;
  justify-content: space-between;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  background: #fafafa;
  border-bottom: #dddddd solid 1px;
  margin-top:40px;
}
.content-ctnr-offset-2{
  display:flex;
  justify-content: space-between;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  background: #fafafa;
  border-bottom: #dddddd solid 1px;
  margin-top:40px;
  padding: 85px 74px;
}
.section-divider{
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}
.minded-div{
  display:flex;
  flex-direction: column;
}
.minded-h{
  font-family:'Tinos', serif;
  font-size:40px;
}
.minded-list{
  list-style: none;
  display:inline;
}
.minded-li{
  font-family:'Raleway', sans-serif;
}
.about-sec-h{
  font-family:'Tinos', serif;
  font-size:66px;
  text-align:center;
  padding-bottom:2px;
  margin-top:30px;
}
.hobbies-div{
  display:flex;
  flex-direction: column;
  height:320px;
}
.hobbies-div-h{
  font-size:30px;
  font-weight:bolder;
  font-family:'Raleway', sans-serif;
}
.underline{
  background-size:  100% 15%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 10%;
  background-image: linear-gradient(181deg, #a71d31 0%, #a71d31 50%, transparent 54%, transparent 100%);
}
.hobbies-list{
  list-style: none;
  display:inline;
}
.hobbies-li{
  font-family:'Raleway', sans-serif;
  font-size:1.1em;
}
.li-link{
  text-decoration: underline;
  text-decoration-color: #a71d31;
  color:black;
}
.li-link:hover{
  text-decoration:none;
  color:#a71d31
}
#li-icon{
  color:#a71d31;
}
.chart-div{
  margin:auto;
  height:400px;
}
.edu-div{
  padding-left:40px;
  margin-top:35px;
}
.edu-div:after{
  content: ""; 
  display: block; 
  width: 50%; 
  padding-top: 20px; 
  border-bottom: 1px solid black; 
}
.edu-div-2{
  padding-left:40px;
  margin-top:35px;
}
.degree-cert-h{
  font-family:'Raleway', sans-serif;
  text-decoration: underline;
  font-size:30px;
}
.edu-org-h{
  font-family:'Raleway', sans-serif;
  font-weight:900;
  font-size:24px;
}
.comp-year{
  font-family:'Raleway', sans-serif;
  font-size:20px;
}
.edu-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.edu-list{
  list-style:none;
  display:inline;
}
.li-b{
  font-family:'Mukta', serif;
  font-size:22px;
}
.edu-li{
  font-family:'Raleway', sans-serif;
  font-size:19px;
}
/* Portfolio Page CSS */
.body-portfolio .portfolio-link-portfolio{
  color:#333333;
  font-weight:bold;
}
.content-ctnr-portfolio{
  display:flex;
  margin:auto;
  margin-top:75px;
  flex-direction: row;
  justify-content:center;
  gap:145px;
}
.content-ctnr-offset-portfolio{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  background: #fafafa;
  border-bottom: #dddddd solid 1px;
  margin-top:40px;
  padding: 85px 74px;
}
.portfolio-intro-div{
  display:flex;
  flex-direction: column;
  width:400px;
}
.portfolio-h{
  font-family:'Tinos', serif;
  font-size: 80px;
}
.portfolio-h3{
  font-family:'Raleway', sans-serif;
  font-size:24px;
  font-weight:bolder;
}
.portfolio-p{
  font-family:'Raleway', sans-serif;
}
.portfolio-mockups-div{
  display:flex;
}
.portfolio-mockups-div img {
  background: #ffffff;
  display: inline-block;
  padding: 15px 15px 30px;
  text-align: center;
  margin-top:20px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}
.portfolio-mockups-div img:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}
.portfolio-mockups-div img:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}
.tc-mockup-img{
  display:block;
}
  /* Card CSS Portfolio Page*/
.card-h, .btn-text, .project-overview, .tech-list, .tech-li{
  margin:0;
  padding:0;
}
.card-h, .btn-text{
  font-family: "Mukata", sans-serif;
  text-transform: uppercase;
  color: #3f0d12;
}
.card-h{
  font-size:24px;
  font-weight:500;
  letter-spacing:-0.2px;
  text-align:center;
  margin-bottom:20px;
}
.project-overview, .tech-li{
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  color: #1f1209;
  line-height:22px;
}
.card {
  background-color: unset !important;
}
.tech-list, .tech-li{
  text-decoration:none;
  list-style: disc outside;
}
.tech-list{
  padding-left:20px;
}
.tech-li{
  font-size:20px;
}
.flip-p{
  text-align:center;
  font-size:18px;
  font-family:'Tinos', serif;
  margin-top:12px;
}
#flip-icon{
  color:#a71d31;
}
.btn-svg{
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}
.card-container{
  position:relative;
  width: 400px;
  height: 500px;
  min-width: 400px;
  min-height: 500px;
  margin: 4px;
  -webkit-perspective:1000px;
  perspective:1000px;
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
}
.active {
  -webkit-transform: translateZ(0px) rotateY(180deg) !important;
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active:after {
  display: none;
}
.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden; 
    -webkit-box-shadow: 0 4px 6px rgba(12, 12, 12, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
.card .front {
  z-index: 2;
}
.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .project-info{
  padding: 16px;
}
.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
}
.front .img1{
  background-image: url("../images/writers-img.jpeg");
}
.front .img2{
  background-image: url("../images/horror-img.jpeg");
}
.front .img3{
  background-image: url("../images/image-manipulation-img.jpeg");
}
.front .img4{
  background-image: url("../images/turing-machine-img.jpeg");
}
.front .img5{
  background-image: url("../images/automata-img.jpeg");
}
.front .img6{
  background-image: url("../images/friends-img.jpg");
}
.front .img7{
  background-image: url("../images/laughing-img.jpeg");
}
.front .img8{
  background-image: url("../images/leo-laughing-img.jpeg");
}
.back {
  position: relative;
  -webkit-box-shadow: 0 4px 6px rgba(12, 12, 12, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}
.back .card-h {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .tech-li {
  line-height: 22px;
  margin: 2px 0 6px 0;
  
}
.back .btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a71d31;
  background-image: linear-gradient(-90deg, #3f0d12, #a71d31);
  border-radius: 5px;
  cursor: pointer;
}
.btn-text, .btn-text:hover{
  text-decoration:none;
  color:#fff;
}
.back .btn:hover .btn-text {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.back .btn:hover .btn-svg {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.back .btn .btn-text {
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.back .btn .btn-svg {
  margin: 1px 0 0 4px;
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
  opacity: 0;
  -webkit-transition: transform 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* Contact Page CSS */
.body-contact .portfolio-link-contact{
  color:#333333;
  font-weight:bold;
}
.content-ctnr-contact{
  display:flex;
  margin:auto;
  margin-top:75px;
  flex-direction: row;
  justify-content: center;
  gap:100px;
}
.contact-info-div{
  display:flex;
  flex-direction: column;
  margin-left:20px;
}
.contact-h{
  font-family:'Tinos', serif;
  font-size: 100px;
}
.contact-h4{
  font-family:'Raleway', sans-serif;
  font-size:22px;
}
.contact-icon-list{
  list-style: none;
}
#contact-link, #contact-link:hover{
  text-decoration:none;
  font-family:'Mukta', sans-serif;
  font-size:26px;
}
#contact-linkedin-icon{
  color:#0e76a8;
  font-size:40px;
}
.linkedin-li, .linkedin-li:hover{
  color:#0e76a8;
}
.linkedin-li:hover{
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
#contact-facebook-icon{
  color:#3b5998;
  font-size:40px;
}
.facebook-li, .facebook-li:hover{
  color:#3b5998;
}
.facebook-li:hover{
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
#contact-github-icon{
  color:#6e5494;
  font-size:40px;
}
.github-li, .github-li:hover{
  color:#6e5494;
}
.github-li:hover{
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
#contact-twitter-icon{
  color:#00acee;
  font-size:40px;
}
.twitter-li, .twitter-li:hover{
  color:#00acee;
}
.twitter-li:hover{
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
.contact-img-div{
  display:flex;
  margin-right:15px;
}
.contact-img{
  -webkit-box-shadow: 0 4px 6px rgba(12, 12, 12, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  border-radius:2%;
  margin-top:45px;
}
.content-ctnr-offset-contact{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  background: #fafafa;
  border-bottom: #dddddd solid 1px;
  margin-top:40px;
  padding: 85px 74px;
  justify-content: center;
}

.form-container{
  display:flex;
  background:#fff;
  margin-top:45px;
}
#left-side-form{
  padding:20px 20px 20px 20px;
  border:2px solid black;
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.10), 0 2px 16px 0 rgba(79,57,81,0.05);
  border-radius:4px;
  background-image:url("../images/development-background.png");
  background-size: cover;
  height:500px;
  width:430px;
}
.left-side-h{
  font-size: 44px;
  font-family: 'Raleway', sans-serif;
  color:#fff;
  font-weight:bolder;
}
.left-side-hr{
  background:#fff;
}
.left-side-p{
  color:white;
  font-size:24px;
  font-family:'Mukta', sans-serif;
}
.contact-menu{
  list-style: none;
}
.contact-reason{
  color:white;
  font-family: 'Mukta', sans-serif;
  font-weight:lighter;
  font-size:16px;
}
#right-side-form{
  padding:20px 20px 20px 20px;
  border:2px solid black;
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.10), 0 2px 16px 0 rgba(79,57,81,0.05);
  border-radius:4px;
  width:500px;
}
.form-info-h{
  text-align:center;
  background: -webkit-linear-gradient(#a71d31, #3f0d12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form{
  margin-top:50px;
}
.contact-input{
  font-family: 'Oswald', sans-serif;
  border:none;
  border-bottom: 2px solid #07395c;
  width:350px;
  transition:border .8s;
}
.contact-label{
  font-family: 'Oswald', sans-serif;
  color:#3f0d12;
  font-size:22px;
}
.btn-ctnr{
  margin-top:35px;
  margin-left:10px;
}
.form-btn{
  border: none;
	font-family: 'Tinos', serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 24px 12px 6px;
	display: inline-block;
	margin-left:100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.form-btn:after{
  content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Thank You Page CSS */
.success-h{
  font-family:'Raleway', sans-serif;
  text-align:center;
  font-size: 54px;
  background: -webkit-linear-gradient(#a71d31, #3f0d12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.success-hr{
  background:#3f0d12;
}
.email-env{
  margin-left:165px;
}
.success-p{
  text-align:center;
  margin-top:15px;
  font-family:'Mukta', sans-serif;
  font-size: 18px;
  color:#3f0d12;
}
.home-return-btn{
  border: none;
	font-family: 'Tinos', serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 24px 12px 6px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.home-return-btn:after{
  content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.seperator{
  margin:0 10px;
  border-right: 1px solid #fff;
  padding-right:4px;
}
.seperator:before{
  background: rgba(0,0,0,0.15);
}
.return-btn{
  background:#5a1219;
  color:#fff;
}
.return-btn:hover{
  background:#3f0d12;
  color:#fff;
  text-decoration: none;
}
.return-btn:active{
  background:#3f0d12;
  top: 2px;
}
.return-btn:before{
  position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}
/* 404 Page CSS */
.body-404{
  background: -webkit-linear-gradient(#ffd89b , #19547b);
}
.lost-page-message{
  margin-top:90px;
}
.oops-h{
  font-size:100px;
  font-family:'Tinos', serif;
  text-align:center;
}
.oops-h-2{
  font-size:40px;
  font-family:'Tinos', serif;
  text-align:center;
}
.lost-page-h{
  font-size:400px;
  text-align:center;
  font-weight:900;
  letter-spacing: 22px;
  background:url("../images/denver-skyline.jpeg") center no-repeat;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
}
.lost-page-p{
  text-align:center;
  font-size:50px;
}
.home-btn{
  font-size:1.5rem;
  border:2px solid white;
  background:white;
  border-radius:100px;
  width:40px;
  height:40px;
  padding:5px;
  margin: 10% auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.home-icon{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
}
.home-btn:hover{
  width:125px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  transition:.3s;
}

.home-btn:active{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s
}
.home-btn-a{
  text-decoration:none;
  color:#3f0d12;
}
.home-btn-a:hover{
  text-decoration:none;
  color:#3f0d12;
}

/* Page Scrolling CSS Animation */
.toShow{
  opacity:0;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }

  60% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

/* Page Transitions CSS */

/* Responsive CSS Media Queries*/
@media screen and (max-width: 1024px){
  body{
   margin-bottom: 0;
  }
  .footer {
    position: relative;
  }
}
@media (max-width:991px)
{
  footer [class^=col-]
  {
    margin-bottom:30px;
  }

}

@media only screen and (min-width: 830px){
  .content-ctnr-offset {
    padding: 9.6rem 4.3rem;
  }
}
@media (max-width:767px)
{
  footer
  {
    padding-bottom:0;
  }
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media only screen and (min-width: 428px){

}
@media only screen and (min-width:374px){

}

.center {
  opacity: 0;
}